<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stephanie Robinson</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../script/app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="name-box">
      <div class="name">
        STEPHANIE <br /> ROBINSON
      </div>
      <a href="{{ "/" | prepend: site.baseurl }}"><img src="../assets/images/logo.png" width="120px" class="logo"></a>
    </div>

    <div class="lines-horizontal">
      <div class="line-horizontal small"></div>
      <div class="line-horizontal large"></div>
      <div class="line-horizontal middle"></div>
      <div class="line-horizontal small"></div>
      <div class="line-horizontal middle"></div>
      <div class="line-horizontal middle"></div>
      <div class="line-horizontal large"></div>
      <div class="line-horizontal small"></div>
      <div class="line-horizontal small"></div>
      <div class="line-horizontal about"></div><a href="#">ABOUT</a>
      <div class="line-horizontal projects"></div><a href="#">PROJECTS</a>
      <div class="line-horizontal small"></div>
    </div>

    <div class="lines-vertical">
      <div class="line-vertical long"></div>
      <div class="line-vertical long"></div>
      <div class="line-vertical medium"></div>
      <div class="line-vertical short"></div>
      <div class="line-vertical long"></div>
      <div class="line-vertical long"></div>
      <div class="line-vertical short"></div>
    </div>


    <!-- top and bottom divs with animated lines - set width and bottom to drift off -->
    <!-- display none on email here instead of on window onload -->
    <!-- <div class="title">
      <div class="desc">
        <div class="left-link">
          <h6>Junior Front End Developer</h6>
        </div>
        <div class="left-link">
          <h6>JavaScript</h6>
        </div>
        <div class="left-link">
          <h6>MEAN Stack</h6>
        </div>
        <div class="left-link">
          <h6>Ruby on Rails</h6>
        </div>
        <div class="cv">
          <a href="../assets/CV_Stephanie_Robinson.pdf" download>
            Download CV
          </a>
        </div>
      </div>

      <header>
        <a href="{{ "/" | prepend: site.baseurl }}"><h2 class="animated slideInLeft">STEPHANIE <br/> ROBINSON</h2></a>
        <a href="{{ "/" | prepend: site.baseurl }}"><img class="animated slideInRight" src="../assets/images/logo.png" width="120px"></a>
      </header>

      <div class="links">
        <div class="link linkedin">
          <a href="https://www.linkedin.com/in/stephanie-robinson/">
            <img src="../assets/images/linked.png" height="30px">
            <img class="in" src="../assets/images/in.png" height="30px">
          </a>
        </div>
        <div class="link git">
          <a href="https://github.com/Steph-6">
            <img src="../assets/images/github.png" height="30px">
            <img class="mark" src="../assets/images/github-mark.png"  height="30px">
          </a>
        </div>
        <div class="email-link no-shadow">
          <h6 id="email">steph.robinson95@gmail.com</h6>
          <img id="email-icon" src="../assets/images/email.png"   height="30px">
        </div>
      </div>

      <div class="content">
        <div class="about">
          <a href="{{ "/about" | prepend: site.baseurl }}"><h6>About</h6></a>
        </div>
        <div class="right-link">
          <h6>Projects</h6>
        </div>
        <div class="right-link">
          <a href="{{ "/project1" | prepend: site.baseurl }}"><h6>1</h6></a>
        </div>
        <div class="right-link">
          <a href="{{ "/project2" | prepend: site.baseurl }}"><h6>2</h6></a>
        </div>
        <div class="right-link">
          <a href="{{ "/project3" | prepend: site.baseurl }}"><h6>3</h6></a>
        </div>
        <div class="right-link">
          <a href="{{ "/project4" | prepend: site.baseurl }}"><h6>4</h6></a>
        </div>
      </div>
    </div> -->

  </body>
</html>
